<ion-header class="ion-no-border" color="medium">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <img class="corona-mission-blue" src="../../../assets/img/coronamission-blue.svg" alt="">

  <div>
    <ion-grid class="person-info" *ngIf="person !== null">
      <ion-row center center>
        <ion-col size="3">
          <ion-avatar class="avatar">
            <img [src]="person.avatar">
          </ion-avatar>
        </ion-col>
        <ion-col size="7">
          <ion-grid>
            <ion-row>
              <p class="name">{{person.name}}</p>
            </ion-row>
            <ion-row>
              <p class="relationship">{{person.relationship}}</p>
            </ion-row>
            <ion-row class="ion-justify-content-start">
              <ion-col size="auto" class="ion-no-padding">
                <ion-button color="dark" fill="outline" (click)="editPerson(person.id)">Editar</ion-button>
              </ion-col>
              <ion-col size="auto" class="ion-padding-horizontal ">
                <ion-button color="dark" fill="outline" class="ion-no-margin" (click)="updatePerson(person.id)">Remover</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </ion-col>
        <ion-col size="2" center center>
          <ion-icon color="primary" name="call" (click)="call()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-start">
          <p>Total de missões realizadas: <span>{{countMissions}}</span></p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr color="light">
    <p class="suggestion-text">Sugestões de missões para hoje</p>

    <div *ngIf="person !== null">
      <ion-card class="challenge-card" *ngFor="let challenge of person.challenges | slice:0:3" color="light">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-icon class="challenge-icon" [name]="challenge.icon" color="dark"></ion-icon>
              </ion-col>
              <ion-col size="9">
                <p class="card-title">
                  {{challenge.title}}
                </p>
                <p class="card-description">
                  {{challenge.description}}
                </p>

              </ion-col>
              <ion-col size="1" >
                <ion-icon [ngClass]="{
                  'checked':challenge.status === 'checkmark-outline'
                }" class="status-icon" (click)="changeStatus(challenge)" [(name)]="challenge.status" color="light" ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <p class="more-missions">
      <ion-button color="primary" fill="" (click)="moreChallenges()">Ver outras missões</ion-button>
    </p>
    
    
  </div>

  

</ion-content>
