.corona-mission-login {
    padding-top: 2vh;
    width: 60vw !important;
    align-items: center;
}

.corona-icon-login {
    padding-top: 10vh;
    width: 60vw !important;
    align-items: center;
}

.enter-text {
    font-size: 4vw;
    margin-top: 10vh;
    font-weight: 700;
    padding-bottom: 4vh;
}

ion-content {
    text-align: center;
    --overflow: hidden !important;
}

.scroll-y, .inner-scroll { display: none; }

.recovery-button {
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 2vh;
    text-transform: none;

    ion-icon {
        padding-right: 10px;
    }
}

.recovery-form {
    margin-left: 7vw;
    margin-right: 7vw;

    ion-item {
        margin-top: 2vh;
        ion-input { 
            color: primary;
        }
        
    }
}

.resend-container {

    a {
        color: rgb(0, 0, 0);
    }

    p {
        text-align: justify;
        text-justify: inter-word;
        padding: 25px;
    }
}