
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login-email"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="corona-mission-login" src="../../../assets/img/corona-mission-inline.png" alt="">

  <p class="enter-text">Recuperar senha</p>

  <form class="recovery-form" [formGroup]="ionicForm" (ngSubmit)="submitForm()" *ngIf="!isCodeSended"> 

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" required="true" type="email" inputmode="email" autofocus="true" autocomplete="on" required></ion-input>
    </ion-item>
    <ion-label color="danger" class=" error-label"  *ngIf="isSubmitted && errorControl.email.errors?.required">
      Informe seu email.
    </ion-label>
    <ion-label color="danger" class=" error-label"  *ngIf="isSubmitted && errorControl.email.errors?.email">
      Informe um email válido.
    </ion-label>

    <ion-row>
      <ion-col>
        <ion-button type="submit" class="recovery-button" size="large" color="dark" expand="block">Enviar código</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <div *ngIf="isCodeSended" class="resend-container">

    <ion-button type="submit" class="recovery-button" size="medium" color="dark" expand="block" (click)="submitForm()">Reenviar código</ion-button>

    <br />
    <p>
      Verifique seu email, enviamos um link para prosseguir com a redefinição de sua senha.
    </p>
  </div>

</ion-content>

