
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login-email"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="corona-mission-login" src="../../../assets/img/corona-mission-inline.svg" alt="">

  <p class="enter-text">Recuperar senha</p>

  <form class="recovery-form" [formGroup]="ionicForm" (ngSubmit)="submitForm()">

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" required="true" type="email" inputmode="email" autofocus="true" autocomplete="on" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Informe seu email.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.email">
      Informe um email válido.
    </span>

    <ion-row>
      <ion-col>
        <ion-button type="submit" class="recovery-button" size="large" color="dark" expand="block">Enviar código</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>

