.corona-mission-blue {
    padding-top: 4vh;
    padding-left: 8vw;
    padding-bottom: 4vh;
    width: 65vw;
}

ion-content {
    p {
        font-size: 4vw;
        padding-top: 2vh;
        color: #393939;
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

.logo-cesar {
    width: 25vw;
    padding-bottom: 6vh;
}

ion-footer {
    text-align: center;
}