<ion-header class="ion-no-border" color="medium">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <img class="corona-mission-blue" src="../../../assets/img/coronamission-blue.svg" alt="">

  <p>
    O objetivo do corona MISSION é incentivar o contato a distância por telefone entre pessoas e idosos isolados em quarentena, possibilitando uma interação por meio de conversas que irão diminuir a sensação de solidão e ampliando uma rede colaborativa do bem em forma lúdica.
  </p>
  <p>
    Missões diárias são sugeridas para dar ideias de ações que podem ser tomadas para diminuir o estresse emocional e a ansiedade criadas pelo isolamento, aproximando as pessoas dos idosos mesmo que distantes.
  </p>
  <p>
    Nós esperamos que esta aplicação seja utilizada por todos deixando a interação com os idosos mais estimulante e divertida.
  </p>

  

</ion-content>

<ion-footer class="ion-no-border" color="medium">
  <ion-toolbar color="medium">
    <img class="logo-cesar" src="../../../assets/img/logo_cesar-grey.svg" alt="">
  </ion-toolbar>
</ion-footer>
