<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="corona-mission-login" src="../../../assets/img/corona-mission-inline.svg" alt="">

  <p class="enter-text">Login</p>

  <form class="login-form" [formGroup]="ionicForm" (ngSubmit)="submitForm()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" required="true" type="email" inputmode="email" autofocus="true" autocomplete="on" required></ion-input>
    </ion-item>
    <ion-label color="danger" class=" error-label"  *ngIf="isSubmitted && errorControl.email.errors?.required">
      Informe seu email.
    </ion-label>
    <ion-label color="danger" class=" error-label"  *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Informe um email válido.
    </ion-label>
    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input formControlName="password" required="true" type="password" inputmode="password" required></ion-input>
    </ion-item>
    <ion-label color="danger" class=" error-label"  *ngIf="isSubmitted && errorControl.password.errors?.required">
      Informe uma senha.
    </ion-label>
    <ion-label color="danger" class=" error-label"  *ngIf="isSubmitted && errorControl.password.errors?.minlength">
      Sua senha deve ter ao menos 6 dígitos.
    </ion-label>

    <ion-row>
      <ion-col>
        <ion-button type="submit" class="login-button" size="large" color="dark" expand="block">Confirmar</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <a class="login-links" [routerLink]="'/signup'" routerDirection="forward" >novo cadastro</a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a class="login-links" [routerLink]="'/recovery-password'" routerDirection="forward" >recuperar senha</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

