<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="corona-mission-login" src="../../../assets/img/corona_mission_login.png" alt="">

  <img class="corona-icon-login" src="../../../assets/img/corona_icon_login.png" alt="">

  <p class="enter-text">Entrar com e-mail:</p>

  <form class="login-form" [formGroup]="ionicForm" (ngSubmit)="submitForm()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" required="true" type="email" inputmode="email" autofocus="true" autocomplete="on" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Informe seu email.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Informe um email válido.
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input formControlName="password" required="true" type="password" inputmode="password" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      Informe uma senha.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
      Sua senha deve ter ao menos 6 dígitos.
    </span>

    <ion-row>
      <ion-col>
        <ion-button type="submit" class="login-button" size="large" color="login" expand="block">Confirmar</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <a class="login-links" [routerLink]="'/signup'" routerDirection="forward" >novo cadastro</a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a class="login-links" [href]="'#'" routerDirection="forward" >recuperar senha</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

