// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
  body {
      --ion-color-primary: #00C0EE;
      --ion-color-primary-rgb: 0,192,238;
      --ion-color-primary-contrast: #000000;
      --ion-color-primary-contrast-rgb: 0,0,0;
      --ion-color-primary-shade: #00a9d1;
      --ion-color-primary-tint: #1ac6f0;
    
      --ion-color-secondary: #3dc2ff;
      --ion-color-secondary-rgb: 61,194,255;
      --ion-color-secondary-contrast: #ffffff;
      --ion-color-secondary-contrast-rgb: 255,255,255;
      --ion-color-secondary-shade: #36abe0;
      --ion-color-secondary-tint: #50c8ff;
    
      --ion-color-tertiary: #5260ff;
      --ion-color-tertiary-rgb: 82,96,255;
      --ion-color-tertiary-contrast: #ffffff;
      --ion-color-tertiary-contrast-rgb: 255,255,255;
      --ion-color-tertiary-shade: #4854e0;
      --ion-color-tertiary-tint: #6370ff;
    
      --ion-color-success: #2dd36f;
      --ion-color-success-rgb: 45,211,111;
      --ion-color-success-contrast: #ffffff;
      --ion-color-success-contrast-rgb: 255,255,255;
      --ion-color-success-shade: #28ba62;
      --ion-color-success-tint: #42d77d;
    
      --ion-color-warning: #ffc409;
      --ion-color-warning-rgb: 255,196,9;
      --ion-color-warning-contrast: #000000;
      --ion-color-warning-contrast-rgb: 0,0,0;
      --ion-color-warning-shade: #e0ac08;
      --ion-color-warning-tint: #ffca22;
    
      --ion-color-danger: #eb445a;
      --ion-color-danger-rgb: 235,68,90;
      --ion-color-danger-contrast: #ffffff;
      --ion-color-danger-contrast-rgb: 255,255,255;
      --ion-color-danger-shade: #cf3c4f;
      --ion-color-danger-tint: #ed576b;
    
      --ion-color-dark: #393939;
      --ion-color-dark-rgb: 57,57,57;
      --ion-color-dark-contrast: #ffffff;
      --ion-color-dark-contrast-rgb: 255,255,255;
      --ion-color-dark-shade: #323232;
      --ion-color-dark-tint: #4d4d4d;
    
      --ion-color-medium: #E8E8E8;
      --ion-color-medium-rgb: 232,232,232;
      --ion-color-medium-contrast: #000000;
      --ion-color-medium-contrast-rgb: 0,0,0;
      --ion-color-medium-shade: #cccccc;
      --ion-color-medium-tint: #eaeaea;
    
      --ion-color-light: #FFFFFF;
      --ion-color-light-rgb: 255,255,255;
      --ion-color-light-contrast: #000000;
      --ion-color-light-contrast-rgb: 0,0,0;
      --ion-color-light-shade: #e0e0e0;
      --ion-color-light-tint: #ffffff;
  }


  .ios body {
    --ion-background-color: #00C0EE;
    --ion-background-color-rgb: 0,192,238;

    --ion-text-color: #393939;
    --ion-text-color-rgb: 57,57,57;

    --ion-color-step-50: #03b9e5;
    --ion-color-step-100: #06b3dc;
    --ion-color-step-150: #09acd3;
    --ion-color-step-200: #0ba5ca;
    --ion-color-step-250: #0e9ec1;
    --ion-color-step-300: #1197b8;
    --ion-color-step-350: #1491af;
    --ion-color-step-400: #178aa6;
    --ion-color-step-450: #1a839d;
    --ion-color-step-500: #1d7d94;
    --ion-color-step-550: #1f768a;
    --ion-color-step-600: #226f81;
    --ion-color-step-650: #256878;
    --ion-color-step-700: #28626f;
    --ion-color-step-750: #2b5b66;
    --ion-color-step-800: #2e545d;
    --ion-color-step-850: #304d54;
    --ion-color-step-900: #33474b;
    --ion-color-step-950: #364042;

  }

  .md body {
    --ion-background-color: #00C0EE;
    --ion-background-color-rgb: 0,192,238;

    --ion-text-color: #393939;
    --ion-text-color-rgb: 57,57,57;

    --ion-color-step-50: #03b9e5;
    --ion-color-step-100: #06b3dc;
    --ion-color-step-150: #09acd3;
    --ion-color-step-200: #0ba5ca;
    --ion-color-step-250: #0e9ec1;
    --ion-color-step-300: #1197b8;
    --ion-color-step-350: #1491af;
    --ion-color-step-400: #178aa6;
    --ion-color-step-450: #1a839d;
    --ion-color-step-500: #1d7d94;
    --ion-color-step-550: #1f768a;
    --ion-color-step-600: #226f81;
    --ion-color-step-650: #256878;
    --ion-color-step-700: #28626f;
    --ion-color-step-750: #2b5b66;
    --ion-color-step-800: #2e545d;
    --ion-color-step-850: #304d54;
    --ion-color-step-900: #33474b;
    --ion-color-step-950: #364042;
  }

  ion-title.title-large {
    --color: white;
  }


form {
  ion-item {
    --border-color: transparent!important;
    --highlight-height: 0;
    --background: none;
    background-color: var(--ion-color-light);
    border-radius: 4px;
  }
}

ion-card {
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 8vh;
}

.alert-wrapper {
  background-color: var(--ion-color-light) !important;
}

.custom-menu {
  --ion-background-color: var(--ion-color-light);
}

ion-toolbar {
  ion-back-button, ion-menu-button {
    color: var(--ion-text-color) !important;
  }
}