<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="corona-mission-login" src="../../../assets/img/corona_mission_login.png" alt="">

  <img class="corona-icon-login" src="../../../assets/img/corona_icon_login.png" alt="">

  <p class="enter-text">Entrar com:</p>

  <ion-button class="login-button" size="large" color="login" expand="block" (click)="loginFacebook()">
    <ion-icon name="logo-facebook"></ion-icon>
    Facebook
  </ion-button>
  <ion-button class="login-button" size="large" color="login" expand="block" (click)="loginGoogle()">
    <ion-icon name="logo-google"></ion-icon>
    Google
  </ion-button>
  <ion-button class="login-button" size="large" color="login" expand="block"  (click)="loginEmail()">
    <ion-icon name="mail-outline"></ion-icon>
    Email
  </ion-button>

</ion-content>
