<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Criar contato</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form class="login-form" [formGroup]="ionicForm" (ngSubmit)="submitForm()">
        <h3 class="subtitle">informações pessoais do amigo ou familiar</h3>
        <ion-item lines="full" >
          <ion-label position="floating">Nome ou apelido</ion-label>
          <ion-input formControlName="name" required="true" type="text" inputmode="text" autofocus="true" maxlength="200" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
          Informe um nome ou apelido.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
          O nome ou apelido deve ter no mínimo 3 letras.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.maxlength">
          O nome ou apelido deve ter no máximo 200 letras.
        </span>
        <ion-item lines="full">
          <ion-label position="floating">Idade</ion-label>
          <ion-input formControlName="age" type="number" inputmode="numeric" maxlength="3" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.age.errors?.required">
          Informe a idade.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.age.errors?.pattern">
          Formato incorreto para idade.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && !ionicForm.get('age').errors && ionicForm.hasError('ageInvalid')">
          Idade inválida, informe uma idade maior que 0 e menor que 130.
        </span>
        <ion-item lines="full">
          <ion-label position="floating">Número de telefone</ion-label>
          <ion-input formControlName="phone" required="true" type="tel" inputmode="tel" [brmasker]="{phone: true}" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.required">
          Informe o telefone.
        </span>

        <ion-item>
          <ion-label position="floating">Parentesco</ion-label>
          <ion-select formControlName="relationship" placeholder="Selecione" okText="Selecionar" cancelText="Cancelar">
            <ion-select-option value="Mãe">Mãe</ion-select-option>
            <ion-select-option value="Pai">Pai</ion-select-option>
            <ion-select-option value="Tia">Tia</ion-select-option>
            <ion-select-option value="Tio">Tio</ion-select-option>
            <ion-select-option value="Avó">Avó</ion-select-option>
            <ion-select-option value="Avô">Avô</ion-select-option>
            <ion-select-option value="Amiga">Amiga</ion-select-option>
            <ion-select-option value="Amigo">Amigo</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.relationship.errors?.required">
          Selecione o parentesco.
        </span>
    
        <ion-row>
          <ion-col>
            <ion-button type="submit" class="login-button" size="large" color="dark" expand="block">Confirmar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
