.corona-mission-login {
    padding-top: 2vh;
    width: 60vw !important;
    align-items: center;
}

.corona-icon-login {
    padding-top: 10vh;
    width: 60vw !important;
    align-items: center;
}

.enter-text {
    color: var(--ion-login-text-color);
    font-size: 4vw;
    margin-top: 4vh;
}

ion-content {
    text-align: center;
    --overflow: hidden !important;
}
.scroll-y, .inner-scroll { display: none; }

.login-button {
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 2vh;
    text-transform: none;

    ion-icon {
        padding-right: 10px;
    }
}

.login-form {
    margin-left: 7vw;
    margin-right: 7vw;

    ion-item {
        margin-top: 2vh;
        ion-input { 
            color: primary;
        }
        
    }
}

.login-links {
    color: var(--ion-login-text-color);
    font-size: 3vw;
}

hr {
    margin-left: 7vw;
    margin-right: 7vw;
}

ion-card-subtitle {
    color: var(--ion-color-primary) !important;
    font-size: 2.8vh;
    font-weight: 600;
    text-align: start;
    padding-left: 7vw;
}