<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="corona-mission-login" src="../../../assets/img/corona-mission-inline.svg" alt="">
  <img class="logo-inline" src="../../assets/img/logo_inline.png" alt="">

  <p class="info-text">
    Cadastre o perfil de parentes e amigos para se sentirem acolhidos em momentos difíceis, em meio a crise do Coronavirus.
  </p>

  <!-- fab placed to the (vertical) center and start -->
  <ion-fab center center>
    <ion-fab-button color="light" center (click)="addPerson()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <p class="add-contact-text">
    Adicione um contato
  </p>
    
</ion-content>